@import 'tailwindcss';

:root {
  --background: #f9f3f0;
  --foreground: #304f25;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-oswald: var(--font-oswald);
  --color-base-green-300: '#304f25';
  --color-main-white-300: '#f9f3f0';
  --font-lato: var(--font-lato);
  --font-coiny: var(--font-coiny);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
* {
  scroll-behavior: smooth;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Oswald';
}
